/* styles/main.css */

/* RESET & Đặt lại base style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background: #165ec9;
  color: #222;
}

body {
  font-family: "Segoe UI", Arial, Tahoma, Geneva, Verdana, sans-serif;
  background: #6485b6;
  color: #222;
  line-height: 1.6;
}

a {
  color: #0d6efd;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: #214e88;
}

input,
button,
select,
textarea {
  font-family: inherit;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 8px;
}
